
.home-card {
    margin: 2%;
    background-color: #28223F;
    box-shadow: 0 10px 90px #00000024;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    justify-content: center;
}

.home-card .home-card-header {
    margin-top: 2%;
    margin-bottom: 20px;
    position: relative;
    height: 50px;
    background-color: #28223F;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
}

.home-card .home-card-header h1{
    margin-bottom: 0;
    align-items: center;
    
}

.home-card .home-card-header .profile-img {
    
    width: 140px;
    height: 140px;
    border-radius: 1000px;
    position: absolute;
    margin-top: 15px;
    transform: translate(-50%, -50%);
    border: 8px solid rgb(150, 39, 253) ;
    box-shadow: 0 0 20px #00000033;
    background-color: white;

}

.home-card .home-card-header .profile-img:hover {
    
    width: 160px;
    height: 160px;
    
    border: 8px solid #0ecbfa;
}


.home-card .home-card-body {
    padding: 10px 40px;
    background-color: white;
}

.home-card .home-card-body .name {
    margin-top: 3%;
    font-size: 22px;
    font-weight: bold;
    color: blueviolet;
}

.home-card .home-card-body .name:hover {
    margin-top: 3%;
    font-size: 24px;
    color: #36adf1;
    cursor: pointer;
}


@media screen and (max-width: 575px) {
    .home-card {
        width: 96%;
    }

    .home-card .home-card-body {
        padding: 10px 20px;
    }
}



