.navbar {
    background-color: red;
}

.navbarLogo {
    height :100%;
    
    
    /* width : 80%, */
    
}

.navbarImg {
    height :100%;
}

.logout_button {
    margin-top: 5%;
    margin-left: 10px;
}