.video_container {
  display: flex;
  gap: 24px;
}

.video_content {
  flex: 5;
}


.video_title {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  /* color: ${({ theme }) => theme.text}; */
}

.video_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .video_info {
  color: ${({ theme }) => theme.textSoft};
} */

.video_buttons {
  display: flex;
  gap: 20px;
  /* color: ${({ theme }) => theme.text}; */
}

.video_button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

/* const Hr = styled.hr`
  margin: 15px 0px;
  border: 0.5px solid ${({ theme }) => theme.soft};
`; */

.video_channel {
  display: flex;
  justify-content: space-between;
}

.video_channelInfo {
  display: flex;
  gap: 20px;
}

.video_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.video_channelDetail {
  display: flex;
  flex-direction: column;
  /* color: ${({ theme }) => theme.text}; */
}

.video_channelName {
  font-weight: 500;
}

.video_channelCounter {
  margin-top: 5px;
  margin-bottom: 20px;
  /* color: ${({ theme }) => theme.textSoft}; */
  font-size: 12px;
}

.video_description {
  font-size: 14px;
}

.video_subscribe {
  background-color: #cc1a00;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 3px;
  height: max-content;
  padding: 10px 20px;
  cursor: pointer;
}

.video_videoFrame {
  max-height: 720px;
  width: 100%;
  object-fit: cover;
}